.form-group{
  display: flex;
  justify-content: center;
}

button.Submit-button{
  display: flex;
  justify-content: center;
}

button.Submit-button {
  background-color: #f4511e;
  box-shadow: 0 5px #a6a6;
  transform: translateY(4px);
}


nav.nav.navbar {
  display: flex;
  justify-content: space-evenly;}

navStyle {
  background-image: image(src/styles/DTower.jpg);
}
