.form-group{
  display: table-caption;
}
.form-control {
  width: 100px;
    -webkit-transition: width 1s ease-in-out;
    transition: width 0.4s ease-in-out;
}

form{
  margin-left: -70rem
}
#sidebar {
  background-image:
    linear-gradient(to right,#0099ff, blue);
  padding: 15px;
}


  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 170px;
    height: 100%;
    padding-top: 30px;
  }

input[type=text]:focus {
    width: 300%;
}

textarea:focus {
    width: 300%;
}
button.Submit-button{
  display: flex;
  justify-content: center;
  box-shadow: 0 5px #a6a6;
  transform: translateY(4px);
  text-decoration: none;
}

.App-header{
  font-size: 5rem;
}
button.mui-btn {
  margin: 20px 20px 12px 40px;
}
section {
  text-decoration: none;
  text-align: -webkit-center;
  background-image: url(https://wallpapercave.com/wp/EKTo81t.jpg);
  height: 1200px;
}
nav.nav.navbar {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  background-color: blue;
  position: unset;
  margin-bottom: 0px;
}
